kubernetes/alpha-cluster/ansible/inventory/hosts
*.retry
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/kubernetes/alpha-cluster/root-passwords.txt
/kubernetes/alpha-cluster/workstation-resources/kubectl.kubeconfig
/kubernetes/alpha-cluster/namespaces/default/secrets/postgres-shared-admin.yml
/kubernetes/alpha-cluster/graylog-admin.txt
/kubernetes/alpha-cluster/namespaces/yadaguru/secrets.yml
